* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /* Colors */
    --c-blue: #2F1893;
    --c-blue-secondary: #482BE7;
    --c-white: #FFFFFF;

    /* Fonts */
    --ff-primary: "DM Sans"
}

body {
    color: var(--c-white);
    font-size: 22px;
    line-height: 32px;
    font-weight: 400;
    font-family: var(--ff-primary);
}
