.is-text-center {
    text-align: center;
}

.container-big {

}

.container {
    max-width: 972px;
    margin: 0 auto;
    padding: 100px 20px;
}

.container-small {
    max-width: 816px;
    margin: 0 auto;
}

.col {
    display: flex;
    flex-direction: column;
}

.col-with-gap {
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.row-spaced-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}