.is-text-center {
    text-align: center;
}

.container-big {
    max-width: 1210px;
    margin: 0 auto;
    padding: 100px 20px;
}

.container {
    max-width: 1020px;
    margin: 0 auto;
    padding: 100px 20px;
}

.container-small {
    max-width: 816px;
    margin: 0 auto;
}

.col {
    display: flex;
    flex-direction: column;
}

.col-with-gap {
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.row-spaced-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.row-spaced-between-responsive {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.row-big-gap {
    display: flex;
    gap: 144px;
}

.row-small-gap {
    display: flex;
    gap: 30px;
}

@media screen and (max-width: 860px) {
    .row-big-gap {
        display: flex;
        flex-direction: column;
        gap: 144px;
        margin: 0 auto;
    }

    .row-spaced-between-responsive {
        flex-direction: column;
        justify-content: space-between;
        gap: 30px;
    }
}