.is-mountain-bg {
    background-image: url(images/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-color: var(--c-blue);
}

.is-sea-bg {
    background-image: url(images/content.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.is-blue-bg {
    background-color: var(--c-blue);
}