.is-mountain-bg {
    background-image: url(../../images/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    isolation: isolate;
    position: relative;
}

.is-mountain-bg::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: var(--c-blue);
    opacity: .4;
    z-index: -1;
}

.is-sea-bg {
    background-image: url(../../images/content.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    isolation: isolate;
    position: relative;
}

.is-sea-bg::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: var(--c-blue);
    opacity: .4;
    z-index: -1;
}

.is-blue-bg {
    background-color: var(--c-blue);
}