.button {
    background-color: var(--c-blue-secondary);
    color: var(--c-white);
    text-decoration: none;
    padding: 17px 35px;
    display: flex;
    justify-content: center;
    width: fit-content;
    border-radius: 50px;
}

.button:hover {
    background-color: var(--c-white);
    color: var(--c-blue-secondary);
    transition-duration: 0.2s;
}

.button--light {
    background-color: var(--c-blue);
    padding: 13px 24px;
    width: fit-content;
    border: 1px solid var(--c-white);
}