<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- Atoms CSS -->
    <link rel="stylesheet" href="../css/atoms/background.css">
    <link rel="stylesheet" href="../css/atoms/text-content.css">

    <!-- Components CSS -->
    <link rel="stylesheet" href="../css/components/crew-card.css">
    
    <!-- Globals CSS -->
    <link rel="stylesheet" href="../css/globals/base.css">
    <link rel="stylesheet" href="../css/globals/font-face.css">
    <link rel="stylesheet" href="../css/globals/utilities.css">
</head>
<body class="is-blue-bg">

    <div class="crew-card">

        <img class="crew-card__img" src="../images/leah-salomon.jpg" alt="a photo of Leah Salomon" width="100" height="100">

        <p class="crew-card__title">Leah Salomon</p>

        <p class="crew-card__subtitle is-small">UI Designer</p>

        <div class="crew-card__social-links">
            <div class="row-spaced-between">
                <a href="/#"><img src="../images/fa-twitter.png" alt=""></a>
                <a href="/#"><img src="../images/fa-facebook-square.png" alt=""></a>
                <a href="/#"><img src="../images/fa-dribbble.png" alt=""></a>
                <a href="/#"><img src="../images/fa-instagram.png" alt=""></a>
            </div>
        </div>

    </div>
    
</body>
</html>