<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Works Card</title>

    <!-- Atoms CSS -->
    <link rel="stylesheet" href="../css/atoms/text-content.css">

    <!-- Components CSS -->
    <link rel="stylesheet" href="../css/components/works-card.css">
    
    <!-- Globals CSS -->
    <link rel="stylesheet" href="../css/globals/base.css">
    <link rel="stylesheet" href="../css/globals/font-face.css">
    <link rel="stylesheet" href="../css/globals/utilities.css">
</head>
<body style="background-color: var(--c-blue);">

        <div class="works-card">
            <div class="col is-text-center">

                <img src="../images/mozart-project.jpg" alt="a photo of a viewing spot" class="works-card__img">
                <p class="works-card__subtitle is-small">UI KIT</p>
                <h3 class="works-card__title">Mozart Project</h3>

            </div>
        </div>  
    
</body>
</html>