.works-card {
    max-width: 470px;
    width: 100%;
    position: relative;
}

.works-card:hover {
    opacity: 80%;
    cursor: pointer;
    transition-duration: 0.2s;
}

.works-card__img {
    max-width: 470px;
    width: 100%;
    border-radius: 10px;
}

.works-card__title {
    padding-top: 4px;
    font-weight: 400;
}

.works-card__subtitle {
    padding-top: 30px;
}

.works-card__link {
    position: absolute;
    inset: 0;
    z-index: 99;
}