.grid-small {
    max-width: 764px;
}

.grid-small__title {

}

.grid-small__description {
    padding-top: 31px;
}

.grid-small__cards {
    padding-top: 70px;
    display: flex;
    flex-wrap: wrap;
    gap: 144px;
    align-content: flex-start;
}

@media screen and (max-width: 600px) {
    .grid-small__cards {
        gap: 160px;
        justify-content: center;
    }
}