.grid__title {

}

.grid__cards {
    padding-top: 52px;
    display: flex;
    justify-content: space-between;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
}

.grid__cards-bottom-row {
    padding-top: 74px;
}