.nav {
    width: 100%;
}

.nav__container {
    position: absolute;
    z-index: 50;
    left: 50%;
    transform: translate(-50%);
    top: 80px;
    width: 100%;
    max-width: 472px;
}

.nav__list {
    list-style: none;
}

.nav__list li:hover {
    transform: scale(1.2);
    transition-duration: 0.2s;
}

.nav__link {
    text-decoration: none;
    color: var(--c-white);
}

.nav__link:hover {
    opacity: 1;
}

.nav__active-link {
    color: var(--c-white);
    opacity: 50%;
}

